* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: aliceblue;
  }
  .headertext1 {
    font-size: 100px;
    padding-right: 10px;
    opacity: 90%;
    font-weight: lighter;
  }
  
  .headertext2 {
    font-size: 100px;
    font-family: Smooch;
    opacity: 70%;
    margin-bottom: 10px;
  }
  
  .navigation {
    font-size: 30px;
    height: 100px;
    border-style: dotted;
    border-color: lightskyblue;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .wip {
    font-size: 50px;
    text-align: center;
  }
  
  .gif {
    width: auto;
    height: 500px;
  }

  .shoppingcart {
    position: relative;
  }

  .shoppingcart span {
    display: inline-flex;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 7px;
    left: 10px;
    font-size: 9px;
    color: white;
    justify-content: center;
    align-items: center;
  
  }