.s-card {
    text-align: center;
}

.s-card h5 {
    margin: 7px 0;
    font-size: 22px;
}

.s-image {
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 14px;
}

.s-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.shopping-cards {
   display: none;
}

.shop-container {
    min-height: 100vh;
}

.left, .middle {
    border-right: 1px solid;
}

.left h6 {
    font-size: 18px;
    margin-bottom: 7px;
}

.left li {
    display: flex;
    align-items: center;
    gap: 20px;
}

.right, .middle {
    padding: 60px 20px;
}

.left div {
    padding: 20px;
}

.left input {
    display: none;
    }

    .left label {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    }

    .left input + label:before {
    content: "";
    width: 20px;
    height: 20px;
    border: 1.4px solid #efefef;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-family: FontAwesome;
    color: white;
    }

.left input:checked + label:before {
    content: "\f00c";
    background-color: var(--main-color);
    }

.left .first {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.middle input {
    display: block;
    padding: 11px 40px;
    width: 100%;
    border-radius: 20px;
    border: 2px solid #efefef;
}

.right img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.close {
    position: absolute;
    right: 20px;
    top: 20px;
    color: black;
    font-size: 35px;
    cursor: pointer;
}

.right {
    display: none;
    transform: translateX(1000px);
    transition: 1s ease-in-out;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 22vw;
    right: 0;
    background-color: white;
    overflow-y: scroll;
}

.right.active {
    display: block;
    transform: translateX(0px);
}

.search-parent {
    display: flex;
    position: relative;
}

.search-parent i {
    position: absolute;
    top: 35%;
    left: 15px;
    color: #808080
}

.middle select {
    display: inline-block;
    border: none;
}

.middle .sort {
    display: inline-flex;
    padding: 7px 15px;
    border: 2px solid #efefef;
    margin: 20px 0;
    gap: 15px;
    border-radius: 7px;
}

.side-content >* {
    display: block;
    margin-bottom: 10px;
}

.add {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: var(--main-color);
    border-radius: 7px;
    margin: 10px 0 30px 0;
    border: none;
    text-decoration: none;
}

.pr {
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
    border-top: 2px solid #efefef;
    padding-top: 15px;
    padding-bottom: 20px;
}

.pr > div:nth-child(1) img{
    height: 150px;
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.pr > div:nth-child(2) {
    padding-left: 25px;
}

.pr h5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3px;
}

.pr .title {
    font-size: 19px;
    display: block;
    font-weight: 400;
    opacity: 0.9;
    margin: 0px;
}

.pr .price {
    font-weight: 600;
    font-size: 20px;
}

.pr .sm-price {
    font-size: 15px;
    opacity: 0.8;
}

.delete {
    color: black;
    opacity: 0.8;
    background: transparent;
    border: none;
    align-items: center;
    gap: 10px;
    font-size: 11px;
}

.checkout {
    padding-left: 25px;
}

.lined {
    padding: 3px 0;
    border-bottom: 1.5px solid #efefef;
}

.checkout h6 {
    font-size: 20px;
    opacity: 0.8;
    font-weight: 400;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.total span:nth-of-type(1) {
    font-size: 16px;
    font-weight: 500;
    display: inline-block
} 

.total span:nth-of-type(2) {
    font-size: 16px;
    font-weight: 600;
    display: inline-block
} 

.ch {
    padding: 10px 25px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 5px;
}

.checkout-container {
    max-width: 1100px;
    margin: 0 auto;
    gap: 50px;
}

.bg {
    background-color: #efefef;
}

.checkout-container section{
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
}

.popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 50px;
	width: 100%;
	max-width: 500px;
	box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.7);
}

.popup span {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 40px;
	color: black;
	cursor: pointer;
}

.popup.active {
	display: block;
}
