<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Flights</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Smooch&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap" rel="stylesheet">

    <link th:href="@{/css/header.css}" rel="stylesheet"/>

    <!--    These are for the bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--    These are for the datatables-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://datatables.net/media/css/site-examples.css">

</head>
<style>
      @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
    th {
        font-family: monospace;
    }

    td {
        font-family: cursive;
    }
    .header > p {
    	margin: 0!important;
    	color: black;
    	position: relative;
    	line-height: 1;
    	padding: 0;
    	transform: scale(0.97)
    }
    
 	.header p:nth-child(1) {
 	font-family: 'Times New Roman', serif;
 	top: -15px;
 	}
 	
    .header {
    	height: 150.67px;
    	align-items: center;
    }
    .navigation a {
    	font-family: 'Times New Roman', serif;
    	text-decoration: underline;
    	color: purple;
    }
    .navigation a:active {
    	color:blue;
    }
</style>
<body>
<link th:href="@{/css/flights.css}" rel="stylesheet"/>

<div class="header">
    <p class="headertext1 m-0">Bon</p>
    <p class="headertext2 m-0">Voyage</p>
</div>

<div class="navigation">
    <a class="home-page" th:href="@{/}">Home</a>
    <a class="recommendations-page" th:href="@{/placesToVisit}">Places to Visit</a>
    <a class="shop" th:href="@{/shop}">Shop</a>
    <a sec:authorize="isAuthenticated()" class="flights-page" th:href="@{/flight/list}">Flights</a>
    <a sec:authorize="hasRole('ROLE_USER')" class="flights-page" th:href="@{/user/flights}">Booked Flights</a>
    <a sec:authorize="isAuthenticated()" th:href="@{/logout}" style="color: red">Logout</a>
    <div class="dropdown" sec:authorize="!isAuthenticated()">
        <a href="javascript:void(0)" class="dropbtn">Account</a>
        <div class="dropdown-content">
            <a th:href="@{/register}">Register</a>
            <a th:href="@{/login}">Login</a>
            <a th:href="@{/contact}">Contact</a>
        </div>
    </div>
    <a th:href="@{/shoppingCart}" class="shoppingcart"><span class="counter">0</span>
        <img width="50px" height="50px" src="https://img.icons8.com/nolan/64/shopping-cart-promotion.png"/>
    </a>
</div>

<div style="float: right;padding: 20px">
    <form th:action="@{/flight/search}" method="get">
        <input type="text" name="keyword" placeholder="Search flight by city" size="50">
        <button type="submit" class="btn btn-info">Search</button>
    </form>
</div>
<div style="float: left;margin-left: 20px;margin-top: 20px;">
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/populateNewFlights}"
       class="btn btn-primary">Fetch New Flights</a>
</div>
<div class="jumbotron jumbotron-fluid" style="margin: 15px">
    <table class="table table-bordered table-responsive-md" id="table_id2">
        <thead>
        <tr>
            <th>Flight#</th>
            <th>Flight-Date</th>
            <th>Status</th>
            <th>Airline-Name</th>
            <th>Arrival-Airport</th>
            <th>Arrival-EstimatedTime</th>
            <th>Departure-Airport</th>
            <th>Departure-EstimatedTime</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="flight : ${flightsList}">
            <td th:text="${flight.flight_number}"></td>
            <td th:text="${flight.flight_date}"></td>
            <td th:text="${flight.flight_status}"></td>
            <td th:text="${flight.airline_name}"></td>
            <td th:text="${flight.getArrivalAirport}"></td>
            <td th:text="${flight.arrival_estimated}"></td>
            <td th:text="${flight.getDepartureAirport}"></td>
            <td th:text="${flight.departure_estimated}"></td>
            <td>
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/flight/delete/{id}(id=${flight.flight_number})}"
                   class="btn btn-danger">Delete</a>
                <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/flight/book/{id}(id=${flight.flight_number})}"
                   class="btn btn-success">Book</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table_id2').DataTable({
            "dom": "tp",
            "ordering": false,
            "pagingType": "simple",
            "lengthMenu": [8]
        });
    });
</script>
</body>
</html>